<!DOCTYPE html>
<html>
<head>
	<title>ascend</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	



</head>
<body>
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::menu -->

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <%= image_tag 'logo.png', class: 'navbar-brand'%>
				<!--<img class="navbar-brand" src="assets/logo.png">-->
			</div>	
			<div id="navbar" class="navbar-collapse collapse " >				
					<ul class="nav navbar-right">
						<li class="active"><a href="#">Features</a></li>
						<li><a href="#">Princind</a></li>
						<li><a href="#">Examples</a></li>
						<li><a href="#">Support</a></li>
						<li><a id="login" href="#">Login</a>
						</li>
					</ul>
				
			</div>
		</div>		
	</nav>
		
	<!--::::::::::::::::::::::::::::::::::imagenes presentacion-->
	<div id="fondorosado">
		<div class="main-image">
			<div class="container"  >
				<div class="divimagen" class="row">
					<div class="divtext" class="col-md-3">
					<h1>Selling online <span>made easy</span></h1>
					<h2>Ascend provides everything you need to start a successful online store</h2>
					
					<%= image_tag 'Play-Button.png', class:'play'%>
					<h2>Start your free 30-day trial today!</h2>
					<h5>No credit card required.</h5>
					<input type="text"></input>
					<a href="#">Sign Up</a>
					</div>
					<%= image_tag 'iPad.png', class:'img-responsive col-md-4'%>
				</div>
			</div>
		</div>	
	</div>


				



	<!--::::::::::::::::::::::::::::::::::::::::::::contenedor -->
	<div class="today">
	<div  class="container"  >
		<h2>Start Accepting orders <span>today</span></h2>
		<h5>Setup'a professional storefront within minutes.</h5>
			<!--slider 2                               -->
				<div class="slider-wrapper">
		            <div id="slider">
		                <div class="slide1">
		                    <%= image_tag '1.jpg' %>
		                </div>
		                <div class="slide2">
		                    <%= image_tag '2.jpg' %>
		                </div>
		            </div>
		            <div id="slider-direction-nav"></div>
		            <div id="slider-control-nav"></div>
		        </div>
					    

		<div class="services" class="row">
			<ul>
				<li class="col-md-3">
					
						<div class="icon corazon"></div>
						
						<h3>Beautiful Templates</h3>
						<p>Redesigned and re-engineered the user interface fron inside out Redesigned and re-engineered the user interface fron inside out</p>
					
				</li>
				<li class="col-md-3">
					
						<!--<div class="icon mobile"></div>-->
						<%= image_tag 'mobile.png', class:'mobile2' %>
						<h3>Mobile Ready</h3>
						<p>Redesigned and re-engineered the user interface fron inside  Redesigned and re-engineered the user interface fron inside out</p>
					
				</li>
				<li class="col-md-3">
					
						<!--<div class="icon candado"></div>-->
						<%= image_tag 'candado.png', class:'candado2' %>
						<h3>Increased Security</h3>
						<p>Redesigned and re-engineered the user interface fron inside out Redesigned and re-engineered the user interface fron inside out</p>
					
				</li>
				<li class="col-md-3">
					
						<!--<div class="icon pago"></div>-->
						<%= image_tag 'pago.png', class:'pago2' %>
						<h3>Payment Options</h3>
						<p>Redesigned and re-engineered the user interface fron inside out Redesigned and re-engineered the user interface fron inside out</p>
						
				</li>
			</ul>
		</div>
		<h3 id="seeallfeatures">See all features</h3>
	</div>
	</div>
	<!--:::::::::::::::::::::::::::::::::::::::::::::DashBoard -->
	<div class="dashboard">
		<h2>Powerful new <span>dashboard</span></h2>
		<h5>track and manage your business from anywhere.</h5>
		<div id="slideshow">
					<ul >
					  <li><%= image_tag 'iron.jpg', class:'img-responsive'%></li>
					  <li><%= image_tag 'paisaje.jpg'%></li>
					  <li><%= image_tag 'yeah.jpg'%></li>
					  <li><%= image_tag 'gato.jpg'%></li>
					 
					  
					</ul>
					</div>
		<div class="container">
					<!--<img class="img-responsive" src="../assets/
					Customization-options.png">-->
					<%= image_tag 'Customization-options.png', class:'img-responsive' %>
						<!--<div class="div-back">
								<div>
									<img src="assets/p-corazon.png" alt="design">
									<h5>Intuitive new design</h5>
									<h5>Redesigned and re-engineered the user interface fron inside out</h5>
								</div>
								<div>
									<img src="assets/p-setup.png" alt="options">
									<h5>Intuitive new design</h5>
									<h5>Redesigned and re-engineered the user interface fron inside out</h5>
								</div>
								<div>
									<img src="assets/p-refresh.png" alt="management">
									<h5>Intuitive new design</h5>
									<h5>Redesigned and re-engineered the user interface fron inside out</h5>
								</div>
								<div>
									<img src="assets/p-money.png" alt="accounting">
									<h5>Intuitive new design</h5>
									<h5>Redesigned and re-engineered the user interface fron inside out</h5>
								</div>
								<div>
									<img src="assets/p-finanza.png" alt="analytics">
									<h5>Intuitive new design</h5>
									<h5>Redesigned and re-engineered the user interface fron inside out</h5>
								</div>
							</div>-->
						
			
		</div>	
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::satisfaction -->
	<div class="container">
		<div class="satisfaction">
			<h2>Highest customer <span>satisfaction</span></h2>
			<h5>Our success is measured through the success of our customers.</h5>
			<div class="row">
				<ul>
					<li class="col-md-4">
						
							<div class="img-comment">
							<%= image_tag 'comment.png' ,class:'comentarios' %>
								<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
							</div>
							<div id="circulos">
							<div class="div-borde">
								<div class="div-relleno"></div>
							</div>
							<h3>Uku Mason</h3>
							<h5>Marketing Expert</h5>
							</div>
					</li>
					<li class="col-md-4">
						
							<div class="img-comment">
							<%= image_tag 'comment.png' ,class:'comentarios' %>
								<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
							</div>
							<div id="circulos">
							<div class="div-borde">
								<div class="div-relleno"></div>
							</div>
							<h3>Uku Mason</h3>
							<h5>Marketing Expert</h5>
							</div>
						
					</li>
					<li class="col-md-4">
						
							<div class="img-comment">
							<%= image_tag 'comment.png' ,class:'comentarios' %>
								<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
							</div>
							<div id="circulos">
							<div class="div-borde">
								<div class="div-relleno"></div>
							</div>
							<h3>Uku Mason</h3>
							<h5>Marketing Expert</h5>
							</div>
						
					</li>
				</ul>			
			</div>
		</div>	
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::::::::footer -->
	<footer>
		<div class="container">
		<div class="row">
			<ul class="lista" class="row">
				<li class="col-md-3">
					<h4>Overview</h4>
					<ul class="overview">
						<li>
							<h5>About Us</h5>
						</li>
						<li>
							<h5>Features</h5>
						</li>
						<li>
							<h5>Pricing</h5>
						</li>
						<li>
							<h5>Examples</h5>
						</li>
						<li>
							<h5>About Us</h5>
						</li>
						<li>
							<h5>Carres</h5>
						</li>
						<li>
							<h5>Privacy Policy</h5>
						</li>
						<li>
							<h5>Term of Service</h5>
						</li>
					</ul>
				</li>
				<li class="col-md-3">
					<h4>Support</h4>
					<ul class="overview">
						<li>
							<h5>Support Portal</h5>
						</li>
						<li>
							<h5>Community Forum</h5>
						</li>
						<li>
							<h5>Tutorial</h5>
						</li>
						<li>
							<h5>Online Seminars</h5>
						</li>
						<li>
							<h5>Extensions</h5>
						</li>
						<li>
							<h5>API</h5>
						</li>
					</ul>
				</li>
				<li class="col-md-3">
					<h4>Partners</h4>
					<ul class="overview">
						<li>
							<h5>Paypal</h5>
						</li>
						<li>
							<h5>Mastercard</h5>
						</li>
						<li>
							<h5>Amex</h5>
						</li>
						<li>
							<h5>Royal Bank</h5>
						</li>
					</ul>
				</li>
				<li id="larga"class="col-md-3">
					<h4>Contac Us</h4>
					<h3>1-888.125-0328</h3>
					<h3>contact@ascend.com</h3>
					<h4 id="stayintouch">Stay In Touch</h4>
						<ul class="redes">
							<li class="liredes"><%=image_tag 'facebook.png' %><h5>Facebook</h5></li>
							<li class="liredes"><%=image_tag 'twitter.png'%><h5>Twitter</h5></li>
							<li class="liredes"><%=image_tag 'google.png'%><h5>Google+</h5></li>
							<li class="liredes"><%=image_tag 'pinterest.png'%><h5>Pinterest</h5></li>
							<li class="liredes"><%=image_tag 'linkedin.png'%><h5>LinkedIn</h5></li>
						</ul>	
				</li>
			</ul>	
		</div>
		</div>
	</footer>
	<!--:::::::::::::::::::::::::::::::::::::::::::base footer -->
	<footer class="base-footer">
		<div class="container">
			<div class="divbase">
			<h5>2012-2013 Ascend Inc. Designed by <span>Designer First.</span></h5>
			</div>
		</div>
	</footer>
</body>
</html>